/* profesor.component.css */

.docente-container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #000000;
    background-color: rgba(170, 0, 255, 0.7);
  }
  
  h2, h3, mat-tab-group,mat-select,p  {
    color: #ffffff;
  }
  
  .cursos-container, .deberes-container {
    margin-top: 20px;
   
  }

  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    padding: 5px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
  }
  table {
    width: 100%;
  }
  
  
  section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    max-width: 600px;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
  
  /* Puedes personalizar los estilos según tus preferencias y diseño específico */
  
