<body>

  <ng-container *ngIf="isLoggedIn(); else notLoggedIn">
    <header>
      <div class routerLink="/home">FEStudyOnline</div>
      <div>
        <mat-select placeholder="Menú">
          <mat-option routerLink="/cursos-alumno" value="cursos">Cursos</mat-option>
          <mat-option routerLink="/docente" value="profesores">Profesores</mat-option>
        </mat-select>
      </div>
      <div class="search-bar">
        <input type="text" placeholder="Buscar...">
        <button>Buscar</button>
      </div>
      <div class="user-actions">
        <button routerLink="/estudiante">Mi Perfil</button>
        <button (click)="abrirHorario()">Mis Cursos</button>
        <button (click)="logout()">Cerrar Sesión</button>
      </div>
    </header>
  </ng-container>

  <ng-template #notLoggedIn>
    <header>
      <div class routerLink="/home">FEStudyOnline</div>
      <div>
        <mat-select placeholder="Menú">
          <mat-option routerLink="/cursos-alumno" value="cursos">Cursos</mat-option>
          <mat-option routerLink="/docente" value="profesores">Profesores</mat-option>
        </mat-select>
      </div>
      <div class="search-bar">
        <input type="text" placeholder="Buscar...">
        <button>Buscar</button>
      </div>
      <div class="user-actions">
        <button routerLink="/login">Iniciar Sesión</button>
        <button routerLink="/register">Registrarse</button>
      </div>
    </header>
  </ng-template>

  <!-- Contenido de la página va aquí -->

</body>


<div class="container">
    <mat-toolbar color="primary">
      <span>Cursos Disponibles</span>
      <span class="espacio-horizontal"> <button mat-button color="primary" (click)="abrirHorario()">Ver Horario</button></span>
      
    </mat-toolbar>
  
    <div *ngFor="let curso of cursosDisponibles$ | async" class="curso-card" (click)="mostrarConfirmacion(curso)">
      <mat-card class="mat-card-curso">
        <mat-card-title>{{ curso.nombre }}</mat-card-title>
        <mat-card-content>
          <p>Horario: {{ curso.horario }}</p>
          <p>Días: {{ curso.dias.join(', ') }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  